.Holder {
  // --------------------------- RULES ---------------------------

  // ANYONE can edit the VALUES of style declarations for colors, type sizes, margins, paddings, gaps, alignment or justification
  // SENIORS ONLY can add or remove declarations and edit layout values like display or position.

  // -------------------------------------------------------------

  margin: 0;
  padding: var(--slice-vertical-padding) var(--site-margin);
  border-radius: 0;
  color: var(--text-color);
  background-color: transparent;
  overflow: hidden;
  @include media(md) {
    padding: var(--slice-vertical-padding-md) var(--site-margin-md);
  }

  &.IsHero {
    padding-top: calc(var(--header-height) + var(--slice-vertical-padding));
    @include media(md) {
      padding-top: calc(var(--header-height) + var(--slice-vertical-padding-md));
    }
    .Title {
      @include h1;
    }
  }
  &.ImageLeft {
    .Image {
      @include media(md) {
        order: 1;
      }
    }
    .Content {
      @include media(md) {
        order: 2;
      }
    }
  }
  &.CenteredText {
    .Content {
      align-items: center;
      justify-content: center;
      text-align: center;
      border: 1px solid;
    }
    .Image {
      aspect-ratio: 3/2;
    }
    .List {
      display: none;
    }
  }
}

.Inner {
  max-width: var(--site-max-width);
  margin: 0 auto;
  display: grid;
  align-items: start;
  grid-template-columns: 1fr;
  gap: var(--grid-gap);
  @include media(md) {
    grid-template-columns: repeat(2, 1fr);
    gap: calc(var(--grid-gap) * 2);
  }
}

.Heading {
  @include media(md) {
    grid-column: span 2;
  }
}

.Content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @include media(md) {
    height: 100%;
    min-height: 50lvh;
  }
  a {
    align-self: flex-start;
    margin-top: 2rem;
  }
}

.Title {
  @include h2;
}


.Subheading {
  h1, h2 {
    @include subheadings;
    margin: 0;
  }
}

.Text {
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }

  p {
    @include type-base;
  }
}

.List {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      border-top: 1px solid;
    }
  }
}

.Image {
  position: relative;
  aspect-ratio: 1; // Aspect ratio best for mobile
  @include media(md) {
    // Choose min height OR aspect ratio for desktop
    aspect-ratio: 9/10;
    //min-height: 70lvh;
  }
}

.ImageInner {
  position: absolute;
  z-index: 0;
  inset: 0;
  overflow: hidden;
  padding: 0;
  border-radius: var(--general-border-radius);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

