.Holder {
  // --------------------------- RULES ---------------------------

  // ANYONE can edit the VALUES of style declarations for colors, type sizes, margins, paddings, gaps, alignment or justification
  // SENIORS ONLY can add or remove declarations and edit layout values like display or position.

  // -------------------------------------------------------------

  margin: 0;
  min-height: auto;
  padding: var(--slice-vertical-padding) var(--site-margin);
  border-radius: 0;
  background-color: transparent;
  @include media(md) {
    padding: var(--slice-vertical-padding-md) var(--site-margin-md);
  }

  &.HasBg {
    padding: 0 calc(var(--site-margin) * 0.5);
    @include media(md) {
      padding: 0 var(--site-margin-md);
    }
  }
}


.Inner {
  max-width: var(--site-max-width);
  margin: 0 auto;
  &.InnerBg {
    padding: var(--slice-vertical-padding) calc(var(--site-margin) * 0.5);
    @include media(md) {
      padding: var(--slice-vertical-padding-md) var(--site-margin-md);
    }
    &.HasDetails {
      padding-top: 2rem;
      @include media(md) {
      .TextHolder {
        max-width: 100%;
        h2 {
        max-width: 100%;
        margin: 14rem 0 10rem;
      }
      }
      }
    }
  }
  &.Centered {
    .TextHolder {
      @include media(md) {
      text-align: center;
      margin: 0 auto;
      max-width: 75rem;
    }
  }
}
}

.Details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-bottom: 4rem;
  p {
    @include font-highlight;
    @include type-sm;
    text-transform: uppercase;
    margin: 0;
  }
}

.TextHolder {
  text-align: left;
  max-width: 75rem;

  p {
    @include type-base;
  }
  li,
  ol {
    @include type-base;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    max-width: 75rem;
  }
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
}

.LinkListHolder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  margin-top: var(--spacing-unit);
}

.Heading {
  margin: var(--site-content-gap) 0;
}

