.Header {
  // --------------------------- RULES ---------------------------

  // ANYONE can edit the VALUES of style declarations for colors, type sizes, margins, paddings, gaps, alignment or justification
  // SENIORS ONLY can add or remove declarations and edit layout values like display or position.

  // -------------------------------------------------------------

  --my-margin: 2rem;

  padding: 2rem;
  margin: 0;
  position: fixed; // fixed, relative, sticky
  border-radius: 0;
  border-bottom: 1px solid var(--text-color);
  overflow: visible;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;

  z-index: 1000;
  color: var(--text-color);
  background-color: var(--bg-color);
  display: none;
  mix-blend-mode: normal; // difference is good if you want to remove the BG colour but still show text over various colors
  opacity: 1; // Important to keep for header transitions if you need them
  @include media(lg) {
    display: block;

    // Scroll and position-based transforms and color changes:
    transition: none; // Transition on hide or show

    &.Hide {
      // How do you want to hide the menu? Fade or animate outside the screen?
      //transform: translateY(-100%); to animate upwards. Ugly as hell but popular.
      //opacity: 0; Our preferred method if we HAVE to hide it. Which we hate.
    }
  }
}

.Inner {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2rem;
  align-items: center;
  max-width: var(--site-max-width);
  margin: 0 auto;
}

.Logo {

  img {
    height: 3rem;
    width: auto;
    display: block;
  }

  svg {
    height: 2rem;
    width: auto;
    display: block;
    path {
      fill: currentColor;
    }
  }
}

.Nav {
  width: 100%;
  display: flex;
  ul {
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    li {
      list-style: none;
      align-self: normal;
      padding: 0;
      @include font-highlight;
      font-weight: normal;
      button {
      text-transform: uppercase;
      @include type-sm;
      }
      a {
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

