.Holder {
  // --------------------------- RULES ---------------------------

  // ANYONE can edit the VALUES of style declarations for colors, type sizes, margins, paddings, gaps, alignment or justification
  // SENIORS ONLY can add or remove declarations and edit layout values like display or position.

  // -------------------------------------------------------------
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 0;
  padding: 0;
  list-style: none;
  li {
    margin: 0;
    padding: 0;

    button {
      position: relative;
      color: var(--text-color);
      background-color: transparent;
      border: none;
      @include type-sm;
      height: auto;
      padding: 0.5rem 1.5rem;
      border-radius: 1000px;
      &:hover {
        color: var(--text-tint-color);
        background-color: transparent;
      }
      .Count {
        background-color: transparent;
        color: var(--text-color);
        display: block; // none to hide
        font-size: 0.7em;
        width: auto;
        height: auto;
        align-items: center;
        justify-content: center;
        margin-left: 0.3rem;
        translate: 0 -30%;
      }
      &.Selected {
        background-color: var(--text-color);
        color: var(--bg-color);
        border: none;
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
        .Count {
          color: var(--bg-color);
        }
      }
    }
  }
}

