.Holder {
    // --------------------------- RULES ---------------------------

    // ANYONE can edit the VALUES of style declarations for colors, type sizes, margins, paddings, gaps, alignment or justification
    // SENIORS ONLY can add or remove declarations and edit layout values like display or position.

    // -------------------------------------------------------------

    margin: 0;
    min-height: auto;
    padding: var(--slice-vertical-padding) var(--site-margin);
    border-radius: 0;
    background-color: transparent;
    @include media(md) {
        padding: var(--slice-vertical-padding-md) var(--site-margin-md);
    }
}

.Inner {
    max-width: var(--site-max-width);
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--grid-gap);
    @include media(md) {
        grid-template-columns: 1fr 2fr;
    }
}

.Images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--grid-gap);
    @include media(md) {
        grid-template-columns: repeat(3, 1fr);
    }
}