.Holder {
  // --------------------------- RULES ---------------------------

  // ANYONE can edit the VALUES of style declarations for colors, type sizes, margins, paddings, gaps, alignment or justification
  // SENIORS ONLY can add or remove declarations and edit layout values like display or position.

  // -------------------------------------------------------------

  margin: 0;
  padding: var(--slice-vertical-padding) var(--site-margin);
  border-radius: 0;
  color: var(--text-color);
  background-color: transparent;
  @include media(md) {
    padding: var(--slice-vertical-padding-md) var(--site-margin-md);
  }

  &.HasBg {
    padding: 0 calc(var(--site-margin) * 0.5);
    @include media(md) {
      padding: 0 var(--site-margin-md);
    }
  }
}

.Inner {
  max-width: var(--site-max-width);
  margin: 0 auto;
  &.InnerBg {
    padding: var(--slice-vertical-padding) calc(var(--site-margin) * 0.5);
    @include media(md) {
      padding: var(--slice-vertical-padding-md) var(--site-margin-md);
    }
  }
}

.TitlesHolder {
  text-align: left;
  max-width: var(--site-max-width);
  margin: 0 auto calc(var(--spacing-unit) * 2) auto;
  > :first-child { margin-top: 0; }
  > :last-child { margin-bottom: 0; }
}
.Subheading {
  h2 {
    @include subheadings;
    margin: 0;
  }
}
.Title {
  @include h2;
}

.Grid {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  gap: var(--grid-gap);

  img {
    width: auto;
    height: 50vh;
  }

  @include media(md) {
    display: grid;
    align-items: start;
    grid-auto-flow: dense;
    grid-template-columns: repeat(12, 1fr);
    column-gap: var(--grid-gap);
    row-gap: var(--site-content-gap-md);

    img {
      width: 100%;
      height: auto;
    }
  }
}

.Item {
  &.MarginLeft {
    @include media(md) {
      padding-left: 20%;
    }
  }
  &.MarginRight {
    @include media(md) {
      padding-right: 20%;
    }
  }
  @include media(md) {
    &.Full {
      grid-column: span 12;
    }
    &.Half {
      grid-column: span 6;
    }
    &.Third {
      grid-column: span 4;
    }
    &.Quarter {
      grid-column: span 4;
    }
    &.TwoThirds {
      grid-column: span 6;
    }

    &.Half.Stretch,
    &.Third.Stretch,
    &.Quarter.Stretch,
    &.TwoThirds.Stretch {
      height: 100%;
      display: flex;
      flex-direction: column;
      border: 1px solid red;
      .Image, .VideoHolder {
        aspect-ratio: auto !important;
        flex-grow: 1;
      }
    }
  }
  @include media(lg) {
    &.Full {
      grid-column: span 12;
    }
    &.Half {
      grid-column: span 6;
    }
    &.Third {
      grid-column: span 4;
    }
    &.Quarter {
      grid-column: span 3;
    }
    &.TwoThirds {
      grid-column: span 8;
    }
  }

  &.Portrait {
    .Image, .VideoHolder {
      // width: 100%; Setting this inside Grid.img now to achieve horizontal scroll on mobile. Correct me if this is no good.
      aspect-ratio: 2/3;
      object-fit: cover;
      object-position: center;
    }
    // TODO: Video support for fixed ratio
  }
  &.Landscape {
    .Image, .VideoHolder {
      // width: 100%; Setting this inside Grid.img now to achieve horizontal scroll on mobile. Correct me if this is no good.
      aspect-ratio: 3/2;
      object-fit: cover;
      object-position: center;
    }
  }
  &.Square {
    .Image, .VideoHolder {
      // width: 100%; Setting this inside Grid.img now to achieve horizontal scroll on mobile. Correct me if this is no good.
      aspect-ratio: 1;
      object-fit: cover;
      object-position: center;
    }
  }
}

.Caption {
  text-align: left;
  margin-top: 0.5rem;
  p {
    @include type-sm;
    @include font-highlight;
    text-transform: uppercase;
  }
  > :first-child { margin-top: 0; }
  > :last-child { margin-bottom: 0; }
}
